.darkmode .design-link:hover{
	border: 1px solid #99B!important;
	color: white!important;
}
.darkmode .design-link{
	border: none;
	background: #282731;
	box-shadow: 0 1px 3px -2px #2f2f2f;
}

.design-menu{
	overflow:hidden;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	width:100%;
	gap:.25rem
}
.design-link{
	cursor: pointer;
	display:flex;
	margin-right:5px;
	margin-bottom:5px;
	color:#000;
	line-height:26px;
	font-size:12px;
	border-radius:3px;
	background: #cfcfcf;
	box-shadow: 2px 2px 3px 2px #cfcfcf;
	border: 1px solid #999;
	margin-bottom: 10px;
	padding: 3px 12px 2px 12px;
}
.design-link:active{
	color:#fff
}

.darkmode .print-menu .select-label select {
    border: none;
    background: #282731;
    box-shadow: 0 1px 3px -2px #2f2f2f;
    color: #fff;
}

.print-menu .select-label select {
    -webkit-appearance: button;
    padding: 7px 40px 7px 12px;
    border: 1px solid #999;
    border-radius: 5px;
    min-width: 10rem;
    background: #cfcfcf;
    box-shadow: 0 1px 3px 2px #cfcfcf;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: .9em;
    transition: all 150ms ease;
}
.print-menu .select-label svg {
    position: absolute;
    right: 65%;
    top: calc(50% - 8.93cm);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}
select.chapter_list:hover{border: 1px solid #99B!important;
}
